*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.panel{
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.content{
  height: 100%;
}
